<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">H2Oil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{#if active.News}}active{{/if}}">
          <a class="nav-link" href="/News">News</a>
        </li>
        <li class="nav-item {{#if active.Forum}}active{{/if}}">
          <a class="nav-link" href="/Forum">Forum</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li class="nav-item {{#if active.Profile}}active{{/if}}" class="navbar-right">
          <a class="nav-link" href="/Profile">Profile</a>
        </li>
        <li class="nav-item" class="navbar-right">
          <a class="nav-link" href="/Logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item {{#if active.Register}}active{{/if}}" class="navbar-right">
          <a class="nav-link" href="/Register">Register</a>
        </li>
        <li class="nav-item {{#if active.Login}}active{{/if}}" class="navbar-right">
          <a class="nav-link" href="/Login">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>