#mainPageColor{
	background-color: Cornsilk;
}

.headerFont{
	font-size: 50px;
	text-align: center;
	margin-bottom: 80px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 9px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}