<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js" type="text/javaScript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <title> {{ title }} </title>

  </head>

  <body>
    
    {{>header}}

    <main role="main" class="container">
      <br>
      <br>
      <br>
      <div class="main">
        <p> <h1> Create News Article </h1> </p>
        <form id='post' method="POST" action="/createNews">
          Title
          <br>
          <input type="text" name="Title" size="30" required>
          <br>
          Content
          <br>
          <textarea name="Content" required rows="10" cols="50"></textarea>
          <br>
          Link
          <br>
          <input type="text" name="Link" size="30" required></input>
          <br>
          <br>
          <input type="file" name="pic" accept="image/*" onchange="loadFile(event)">
          <br>
          <br>
          <img id="output" width="25%" height="25%">
          <br>
          <br>
        <input type="submit" name="submitPost" value="Submit Post">
      </form> 
    </div>
    </main>
  </body>
</html>