<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="script.js" type="text/javaScript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  
  <style>
  .container2 {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Bottom left text */
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<title> {{ title }} </title>

</head>

<body>
  
  {{>header}}

<div class='container2'>
  <img src='Oil Spill.jpg' >
  <img class='center' src='H2Oil Logo Transparent.png'>
</div>
<br>
<br>
<h1 align='center'>Welcome to H2Oil</h1>
<br>
<br>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="H2Oil Logo.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Join Us</h2>
      <p>Join H2Oil a website dedicated to bring awareness about the dangers of Oil Spills. Create your account today to become a member of this community and help fight this problem.</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="oil fish.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>What are Oil Spills?</h2>
      <p>Oil Spills are escapes of Oil to a body of water. The Oil will not go away unless it is cleaned and can bring harm to the nature and wildlife. As well as wash ashore creating a Black Tide which endangers not only nature and animals but also ourselves.</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="helping hand.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>You Can Help</h2>
      <p>Here you can read, share and interact with other users to make sure we can reduce the harm that Oil Spill bring to our world. As well as take an active part in cleaning Oil Spills by volunteering to help.</p>
    </div>
  </div>

  
  <footer class="container">
  </footer>
</main>
</body>
</html>